@charset "UTF-8";

/*rgb(14, 17, 26)
rgb(48, 84, 158)
rgb(70, 81, 151)*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, hmtl{
    background-color: rgb(26, 35, 61);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#login{
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 510px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(73, 120, 134, 0.411);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

div#imagem{
    display: block;
    background: rgb(14, 17, 26) url(../imagens/games_pixabay.jpg);
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}

div#formulário{
    display: block;
    padding: 10px;
}

div#formulário > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulário > p{
    font-size: 0.9em;
    text-align: justify;
    padding-bottom: 5px;
}

div.campo{
    width: 100%;
    height: 40px;
    background-color: rgb(18, 31, 116);
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}

::placeholder{
    color: rgb(0, 0, 0);
}

div.campo > input{
    background-color: rgb(67, 80, 163);
    font-size: 1em;
    border: 0px;
    border-radius: 8px;
    height: 100%;
    width: calc(100% - 47px);
    transform: translateY(-10px);
    padding: 4px;
}

div.campo >input:focus-within{
    background-color: white;
}

div.campo > span{
    color: white;
    font-size: 2em;
    padding: 5px;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgb(67, 80, 163);
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: rgb(174, 184, 243);
}

form > a.botao{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgb(67, 80, 163);
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
}

form > a.botao:hover{
    background-color: rgb(102, 110, 160);
}

form > a.botao > span{
    font-size: 0.9em;
}